.container-list-edit{
    width: 100%;
    height: 100%;
    /* height:90vh; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;
    /* background-color:rgb(236, 236, 236) */

}
.container-list-edit-in{
    width: 100vw;
    height: auto;
     /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0,20%);

}.frame-list-edit-in-null{
    width:330px;
}
.frame-list-edit-in>button{
    width:700px;
    height: 40px;
    border: none;
    font-weight: bold;
    background-color: #666;
    color: antiquewhite;
    border-radius: 3px;
}

/* ----------------------------------- */

.frame-list-edit-in{
    width: 950px;
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: #666; */
}
/* ------------------------title--------------------- */

.frame-list-edit-in-title{
    width: 750px;
    height: 60px;
    display: flex; 
    justify-content:space-between;
    align-items: end;
    /* background-color: white; */
    /* margin-bottom: -10px; */
    border-bottom: 1.5px solid rgb(184, 182, 180);
}


.frame-list-edit-in-title>input{
    border: none;
    font-size: 30px;
    height: 100%;
    width: 90%;
    outline: none;
    background-color: transparent;
    padding-left: 45px;
    padding-right: 45px;

}
.frame-list-edit-in-title>div{
  
}
.frame-arrow{
    width: 703px;
    display: flex;
    /* background-color: #666; */
    gap: 5px;
}
#back-arrow{
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-image: url('./back.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    border-radius: 50px;
    transition: all 0.2s;
}
#back-arrow:hover{
    background-color: #666;
}
#front-arrow{
    width: 20px;
    height: 20px;
    background-image: url('./front.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    border-radius: 50px;
    transition: all 0.2s;
}
#front-arrow:hover{
    background-color: #666;
}