.container-list-edit-table{
    width:700px;
    height: 400px;
    top: 100px;
    z-index: 50;
    border-radius: 2px;
    border: 1px solid #66666668;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    color: var(--pc);
    font-weight: bold;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    z-index: 0;
}
.edit-tl-table-list {
    border: 0.1px solid #66666652;
    display: flex;
    align-items: center;
    justify-content: center;

}.edit-tl-table-list:hover{
 background-color: rgb(248, 245, 245);
 border: 0.1px solid #272727;
}
.edit-tl-table-list-content{
    font-size: 13px;
    font-weight: lighter;
}
.container-list-edit-table:hover{
    border: 0.1px solid #a9a8b3;
    /* background-color: rgb(248, 245, 245); */
    outline: 1.5px solid #1c1729;;
}
.container-list-edit-table:hover .edit-tl-table-list{
    border: 0.1px solid #a9a8b3;
}
.edit-tl-table-cancle-button{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    /* position: absolute; */
    margin-left: auto;
    /* top: 0; */
    /* transform: translate(-50%,-50%); */
    color: #929292;

}
.edit-tl-table-list>div{
    width:112.91px;
    height: 61.55px;
    /* background-color: #6666662a; */
    position: absolute;
}