.container-load-out{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #1c1729d1;
    display: flex;
}
.container-load{
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    
} 
.container-load>span{
    color: antiquewhite;
    /* font-family: 'Courier New', Courier, monospace; */
}