.container-mainbanner{
    width: 100vw;
    height: auto;
    /* background-color: bisque; */
}
.mainbanner-frame-fst{
    background-image: url('./mainbannerIMG3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 99.8vw;
    height: 44vw;
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 50px;

}
.mainbanner-fst-title{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    color: rgb(241, 241, 241);
    /* background-color: black; */
}
.mainbanner-fst-title::after{
    margin-top: 30px;
    content: "";
    display: block;
    width: 104%;
    margin-left: -2%;
    height: 5px;
    background-color: rgb(241, 241, 241);
    box-shadow: 1px 2px 4px rgba(25, 25, 25, 0.292);
}
.mainbanner-fst-recommand{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    /* background-color: #1c1729; */
    align-items: center;
    margin-bottom: 50px;

}
.mainbanner-fst-recommand>div{
    font-size: 30px;
    color: rgb(241, 241, 241);
    width: 500px;
}
.mainbanner-fst-recommand>button{
    font-size: 25px;
    background-color: #1c1729;
    border: none;
    color: rgb(241, 241, 241);
    width: 400px;
    border-radius: 3px;
    height: 65px;
}




/* -------------------sec---------------------- */
.mainbanner-frame-sec{
    margin-top: 150px;
    width: 1400px;
    height: 900px;
    /* background-color: #1c1729; */
    margin-left: auto;
    margin-right: auto;
}.mainbanner-sec-title{
    background-image: url('./mainbannersec.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 800px;
    height: 533px;
    margin-left: auto;
    /* margin-right: auto; */
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 50px;
}.mainbanner-sec-recommand{
    width: 800px;
    height: 550px;
    background-color: white;
    /* border: 1px solid black; */
    margin-bottom: 5px;
    z-index: 5;

}
.mainbanner-sec-recommand>div{
    width: 500px;
    height: 600px;
    color: #1c1729;
    font-size: 70px;
    margin-top: 100px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/* --------------------trd------------------------ */

.mainbanner-frame-trd{
    width: 1400px;
    height: 900px;
    background-color: #1c1729;
    margin-left: auto;
    margin-right:auto;
    
    font-size: 50px;
    color: antiquewhite;
}



/* -------------------1200이하일떄-------------------------- */

@media (max-width: 1200px) {
    .mainbanner-frame-fst{
        gap: 25px;
    }
    .mainbanner-fst-title::after{
        content: "";
        display: none;
        width: 100%;
        height: 5px;
        background-color: rgb(241, 241, 241);
        box-shadow: 1px 2px 4px rgba(25, 25, 25, 0.292);
    }

    .mainbanner-fst-recommand{
        width: 90%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        height: 130px;
        /* background-color: #1c1729; */
        align-items: start;
        margin-bottom: 50px;
    
    }
    .mainbanner-fst-recommand>div{
        font-size: 30px;
        color: rgb(241, 241, 241);
        width: 500px;
    }
    .mainbanner-fst-recommand>button{
        font-size: 25px;
        background-color: #1c1729;
        border: none;
        color: rgb(241, 241, 241);
        margin-right: 0vw;
        width: 85vw;
        border-radius: 3px;
        height: 60px;
        /* margin-left: auto;
        margin-right:auto; */
    }
    .mainbanner-sec-recommand>div{
        width: 600px;
        height: 550px;
        font-size: 50px;
    }
}