/* .container-list-edit-menu-out{
   
    width: 350px;
    height: 100%;
    background-color:#666470;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-rows: 60px auto;

} */
.container-list-edit-menu-out{
   
    width: 350px;
    height: 100%;
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: start;
    gap: 15px;
    /* scrollbar-color: var(--6Ym1Xg) transparent;
    scrollbar-width: thin; */

}

.menu-null{
    width: 100%;
    height: 60px;
}
.container-list-edit-null{
    width: 100%;
    height: 60px;
}
.container-list-edit-menu-in{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  

}
.small-edit-menu{
    width: 25%;
    height: 100%;
    background-color:#666470;
    right: 0;
    border-left: 1px solid white;
    z-index: 25;
}
.large-edit-menu{
    width: 75%;
    height: 100%;
    background-color:#666470;
    right: 25%;
    z-index: 20;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: black;

}
/* .large-edit-menu::-webkit-scrollbar {
    width: 20px;
  } */
.test-null{
    width: 90%;
    height: 50px;
    background-color: #808080;
    margin-left: auto;
    margin-right: auto; 
       margin-top: 10px;

}
