.container-list-edit-menu{
   
    width: 350px;
    height: 100%;
    /* background-color:#666470; */
    position: absolute;
    top: 0;
    right: 0;
    grid-template-columns: 1fr 0.5fr;

}
.container-list-edit-menu>div:nth-child(1){
    width: 25%;
    height: 100%;
    position: absolute;
    background-color:#666470;
    right: 0;
    border-left: 1px solid white;
    z-index: 25;
    margin-top: 90px;
}
.large-edit-menu{
    width: 75%;
    height: 100%;
    position: absolute;
    background-color:#666470;
    right: 25%;
    z-index: 20;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: black;
    margin-top: 90px;

}
.large-edit-menu::-webkit-scrollbar-track{
    background-color: #666470;
}
.test-null{
    width: 400px;
    height: 50px;
    /* background-color: #cdcbd6; */
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}
