.container-result{
    width: 100vw;
    height: 95vh;
}
.container-result-top{
    width: 1500px;
    height: 650px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    display: flex;
    /* gap: 30px; */
    /* background-color: #1c1729; */

}
.container-result-bottom{
    width: 1500px;
    height: 200px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.container-result-top-left{
    height: 100%;
    width: 1050px;
    /* border: 1px solid black; */
    border-right:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #a0a0a04d;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #a0a0a0;
    
}
.container-result-top-right{
    height: 100%;
    width: 450px;
    /* border: 1px solid black; */
    position: relative;
}
.cancle-button{
    position: absolute;
    transform: translate(250%,-150%);
    border: none;
    background-color: #66666627;
    border-radius: 2px;
    box-shadow: 2px 2px 2px solid #666;
    
}
.export-button{
    width: 9px;
    height: 9px;
    margin-left: 5px;
    margin-top: 5px;
    top: 75.5%;
    left: 5.2%;
    cursor: pointer;
}
.export-button>div{
    border: 1.5px solid #666;
    width: 9px;
    height: 9px;
    border: 1.5px solid #666;
}

/* -------bottom---------- */

.container-result-bottom-in{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    border: 1.5px solid #a0a0a04d;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #a0a0a0;

}
.frame-Tlview{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.TLITEMS{
    width: 300px;
    height: 150px;
    /* border: 1px solid black; */
}
/* ------timeline----------- */
.container-result-TL{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.frame-reuslt-TL{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.tl-div{
    border:0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tl-day{
    font-size: 11px;
}
.container-result-title{
    /* background-color: #1c1729; */
    margin-right: auto;
    margin-left: 120px;
    font-size: 30px;
}


/* -------------------------------- */

.container-general-class{
    width: 90%;
    /* height: 650px; */
    height: 745px;
    /* display: flex; */
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 1.5px solid #a0a0a04d;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #a0a0a0;
    /* margin-left: 45px; */
    margin-left: 15px;
    /* position: absolute; */
    overflow-x: hidden;
    overflow-y: scroll;

}
.general-content{
    width: 90%;
    height: 70px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1.5px solid #a0a0a04d;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #a0a0a0;
    cursor: pointer;
}
.general-content:nth-child(2){
    margin-top: 50px;
}


.restore-button{
    position: absolute;
    width:85%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    /* margin-right: 40px; */
    
}
.restore-button>button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #1c1729;
    color: antiquewhite;
    font-size: 15px;
    box-shadow: 2px 2px 2px #a0a0a0;
    margin-right: 12px;
}



/* -----modal------ */
.class-modal{
    position: absolute;
    width: 350px;
    height: 130px;
    background-color: rgb(239, 243, 245);
    left: 50%;
    top:45%;
    transform: translate(-50%,-50%);
    border-radius: \2px;
    border: 2px solid #f1eaea;
    overflow: hidden;
    outline: none;
}
.class-modal-cancle{
    width: 100%;
    height: 30px;
    background-color: #1c1729;
    display: flex;
}
.class-modal-cancle-button{
    color: white;
    font-size: 18px;
    font-weight:lighter;
    margin-left: auto;
    padding-top: 1px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: transparent;
    cursor: pointer;
    font-weight: lighter;

}
.class-modal-cancle-button:hover{
    background-color: rgb(240, 35, 16)   
}
.class-modal-info{
    margin-top: 18px;
    display: flex;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}
.class-modal-YesOrNo{
    /* margin-top: 15px; */
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.class-modal-YesOrNo>button{
    width: 60px;
    height: 30px;
    font-size: 12px;
}