.container-list-menu{
    width: 450px;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 60px auto;
    overflow-x: hidden;
    z-index:5;

}

.container-list-menu>div:nth-child(2){
    width: 100%;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70px auto;
    z-index: 1;
}
.container-list-menu-left{
    background-color: #362e4b;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4;
}

.container-list-menu-right{
    background-color: #362e4b;

    display: grid;
    grid-template-rows: 70px auto;
    z-index: 2;
}
.container-list-menu-right>div:nth-child(1){
    height: 70px;
}
.container-list-menu-right>div:nth-child(2){
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* -----left------------ */
.container-list-menu-left>div{
    width: 55px;
    height: 55px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #362e4b;
    cursor: pointer;
    
}
.container-list-menu-left>div:hover{
    background-color: #3f3c49;
}
.container-menu-arrow{
    margin-top: 100px;
    position: fixed;
    width: 470px;
    height: 60px;
    background-color: #b9b8c4;
    z-index: 0;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 2px solid #d1d0dd;
    font-weight: bold;
    cursor: pointer;
}
.container-menu-arrow>span{
    margin: none;
    padding :none;
    margin-right: 3px;

}
.item-list-menu-right{
    width: 95%;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item-list-menu-right:first-child{
    margin-top: 10px;
}.null-class-time{
    width: auto;
    height: 17px;
}

.item-list-menu-right>div{
    width: 90%;
    height: 100%;
    border: 2px solid rgba(228, 222, 215, 0.322);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 350;
    transition: all 0.1s;
}
.item-list-menu-right>div:hover{
    background-color: rgb(175, 175, 175);
}

.item-list-menu-right>div>span:nth-child(2){
    
    font-size: 13px;
    margin-bottom: 3px;
    font-weight: bold;
}

#list-menu-right-search {
    width: 363px;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #362e4b;
    z-index: 3;
    margin-left: 70px;
    border-right: 17px solid #fff0f0;
    flex-direction: row;
}
#list-menu-right-search>div:nth-child(1) {
    width: 40px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;

}
#list-menu-right-search>div:nth-child(1)>button {
  width: 10px;
  height: 10px;
}
#list-menu-right-search>div>input{
    width: 250px;
    padding-left: 10px;
    height: 30px;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid antiquewhite;
    outline: none;
    color: antiquewhite;
    font-size: 15px;
}
#list-menu-right-search>div>input:focus{

    border-bottom: 1px solid antiquewhite;

}
#list-menu-right-search>div:nth-child(2)>button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    margin-left: 6px;
    margin-top : 15px;
 
}


/* ----------------------------load------------------------------ */

.container-list-edit-load{
    width: 100%;
    height: 30px;
    background-color: #444052;
    position:fixed;
    margin-top: 60px;
}
.container-list-edit-load>div{
    width: 100%;
    height: 30px;
    background-color: #444052;
    position:fixed;
    /* margin-top: 60px; */
    margin-left: 410px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.container-list-edit-load>div>span{
    color: antiquewhite;
}