/* styles.css */
.container-test {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
  }
  
  .container-test > form {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
  }
  .input-container{
    display: flex;
    width: 600px;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  /* .label {
    display: inline-block;
    border-radius: 500px;
    transition: all 0.2s;
    cursor: pointer; 
    } */
  
  /* .label:hover {
    background-color: maroon;
  } */
  
  /* .outline-span {
    width: auto;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type='radio'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  } */
  
  input[type='radio']:checked + .label {
    background-color: crimson;
  }
  .inputcontainer{
    width: 600px;
    height: 100px;
    background-color: blue;
  }

  /* ---------------------------------------------- */
  /* .first-label{
    border: 2px solid rgb(14, 129, 223);
    width: 70px;
    height: 70px;
  }
  .second-label{
    border: 2px solid rgb(14, 216, 223);
    width: 45px;
    height: 45px;

  }.third-label{
    border: 2px solid rgb(14, 223, 174);
    width: 30px;
    height: 30px;

  }.fourth-label{
    border: 2px solid rgb(126, 223, 14);
    width: 45px;
    height: 45px;

  }.fifth-label{
    border: 2px solid rgb(223, 157, 14);
    width: 70px;
    height: 70px;
  }

  /* -------------------------------------------------- */

  /* .first-label:hover {
    background-color: rgb(14, 129, 223);
  }
  

  .second-label:hover {
    background-color: rgb(14, 216, 223); 
  }
  
  .third-label:hover {
    background-color: rgb(14, 223, 174); 
  }
  
  .fourth-label:hover {
    background-color: rgb(126, 223, 14); 
  }
  
  .fifth-label:hover {
    background-color: rgb(223, 157, 14);
  } */


  /* ------------------------------------------------------------------ */

  /* input[type='radio']:checked + .first-label {
    background-color: rgb(14, 129, 223);
  }
  
  input[type='radio']:checked + .second-label {
    background-color: rgb(14, 216, 223);
  }
  
  input[type='radio']:checked + .third-label {
    background-color: rgb(14, 223, 174);
  }
  
  input[type='radio']:checked + .fourth-label {
    background-color: rgb(126, 223, 14);
  }
  
  input[type='radio']:checked + .fifth-label {
    background-color: rgb(223, 157, 14);
  }  */