.container-result{
    width: 100vw;
    height: 95vh;
}
.container-result-top{
    width: 1500px;
    height: 650px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    display: flex;

}
.container-result-bottom{
    width: 1500px;
    height: 200px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.container-result-top-left{
    height: 100%;
    width: 70%;
    border: 1px solid black;
    border-right:none;
}
.container-result-top-right{
    height: 100%;
    width: 30%;
    border: 1px solid black;
}