.container-list-out{
    margin-top: 60px;
    width: 1300px;
    height: 99vh;
    margin-left: auto;
    margin-right: auto;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-list{
    /* margin-top: 60px; */
    width: 1300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    align-items: start;
    
}
.container-list-right{
    /* width: 500px; */
    width: 800px;
    height: 800px;
    /* border: 1px solid black; */
}
.container-list-left{
    /* width: 800px; */
    width: 500px;
    height: 800px;
    border: 1px solid black;
}
.container-list-title{
    margin-top: 30px;
    width: 1300px;
    height: 300px;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
}
.container-list-title>span{
    font-size: 30px;
}