.container-list-out{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    gap: 20px;

}

.container-list{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.container-list-right{
    width: 800px;
    height: auto;
}
.container-list-left{
    width: 550px;
    height: auto;
}


.container-list-title{
    margin-top: 150px;
    width: 1300px;
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.container-list-title>span{
    font-size: 30px;
}

.click-the-list{
    margin-top: 160px;
    margin-left:25px;
    width: 500px;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
}


@media (max-width: 1300px) {
    .container-list-left{
        width: 350px;
    }
    .container-list-right{
        width: 600px;
        height: auto;
    }.container-list-title{

        width: 950px;

    }
  }