:root{
    --pc : #1c1729;
}

/* ------------------------------------ */
/* TestNav */
.container-nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color:var(--pc) ;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-home{
    color: antiquewhite;
    margin-left: 30px;
}
#nav-login{
    color: antiquewhite;
    margin-right: 30px;
}
