:root{
    --pc : #1c1729;
}

/* ------------------------------------ */
/* TestNav */
.container-nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color:var(--pc) ;
    z-index: 30;
}