:root{
    --pc : #1c1729;
    --cr : #FEFFED;
    --gr : #858585;
    --contentHeight : 45vw;
}

.container-main{
    width: 100vw;
    height:15vh;
}
.container-main-menu{
    margin-top:15px;
    width: 100vw;
    height: 50vw;

    background-color: var(--gr);
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* ----------------------------------------------------------- */
/* 컨텐츠 */

.menu-content{
    width: 30vw;
    height: var(--contentHeight);
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.menu-content:hover{
    cursor: pointer;
}

/* ----------------------------------------------------------- */
/* 컨텐츠 내부*/

.menu-content-num{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: calc(var(--contentHeight)/6);
}
.menu-content-number{
    font-size: 4vw;
    margin-left: 15px;
}
.menu-content-p{
    font-size: 1vw;
    margin-right: 15px;
}


.menu-content-intro{
    height: calc(var(--contentHeight)/6);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.menu-content-intro-p{
    width: 25vw;
    font-size: 1.3vw;
    margin: auto;
    font-weight: 300;
}


.menu-content-img{
    /* border: 1px solid black; */
    height: calc(var(--contentHeight)/6*4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-content-img-icon{
    width: calc(var(--contentHeight)/6*3.8);
    height: calc(var(--contentHeight)/6*3.8);
    border:  1px solid black;
}
