:root{
    --pc : #1c1729;
    --cr : #FEFFED;
    --gr : #858585;
}

.container-home{
    width: 800px;
    height:60vh;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------ */
/* Inithome */
.container-inithome{
    margin-left: auto;
    margin-right: auto;
    margin-top: 22vh;
    
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inithome-h1{
    width: 300px;
    height: 50px;
    text-align: center;
    margin-bottom:25px;
}

.inithome-button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.init-div{
    margin-top: 70px;
}
.init-h3{
    display: inline;
    margin:0;
}
.init-a{
    display: inline;
}
#login-button{
    border: none;
    background-color:var(--pc);
    box-shadow: 2px 2px 4px #0000006f;
    color:antiquewhite;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.1s;
}
#nologin-button{
    border: none;
    background-color: var(--gr);
    color:antiquewhite;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.1s;
    box-shadow: 2px 2px 4px #0000006f;
}

#login-button:hover{
    font-size: 14.5px;
    /* background-color:var(--gr); */
}
#nologin-button:hover{
    font-size: 14.5px;
    /* background-color:var(--pc); */
}